$white: #f4f4f4;

/*colors of light theme*/
$lightgrey: #eaeaea;
$grey: #e6e9eb;
$gray: #d9d9d9;
$beige: #f7cbab;
$orange: #f8b52c;
$pink: #df4794;
$black: #001b2a;

/*colors of dark theme*/
$color1: #a7bde9;
$color2: #3a4868;
$color3: #2f3c56;
$lightblue: #61caff;
$blue: #3a5aed;


$bg: $grey;

$intup-numb: $beige;

$text-color: $white;
$key-bg: $white;
$key: $black;
$key-ac: $pink;
$key-hover:$gray;


$dark-key: $color1;
$dark-key-bg: $color2;
$dark-key-hover: $color3;


