/*colors of light theme*/
/*colors of dark theme*/
@font-face {
  font-family: 'oxygen';
  src: url("../assets/fonts/oxygen-light.woff2") format("woff2"), url("../assets/fonts/oxygen-light.woff") format("woff"), url("../assets/fonts/oxygen-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'oxygen';
  src: url("../assets/fonts/oxygen-regular.woff2") format("woff2"), url("../assets/fonts/oxygen-regular.woff") format("woff"), url("../assets/fonts/oxygen-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'oxygen';
  src: url("../assets/fonts/oxygen-bold.woff2") format("woff2"), url("../assets/fonts/oxygen-bold.woff") format("woff"), url("../assets/fonts/oxygen-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

* {
  box-sizing: border-box;
  outline: none; }

body {
  background-color: #e6e9eb;
  font-family: "oxygen", sans-serif; }

sup {
  top: -0.8em;
  font-size: 0.6em; }

.calc {
  box-shadow: 0px 13px 69px -5px rgba(51, 51, 51, 0.61); }

.calc__display {
  padding: 27px 20px;
  text-align: right; }

.calc__total {
  font-family: "oxygen", sans-serif;
  font-size: 30px;
  border: none;
  background: transparent;
  width: 220px;
  text-align: right; }
  .calc__total--history {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300; }

.calc__intup-numb {
  font-size: 16px; }

.calc__keys-row {
  display: flex; }

.calc__keys {
  transition: all 0.2s; }

.key {
  width: 65px;
  height: 65px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s; }

.key-engineering {
  display: block;
  opacity: 1;
  transition: all 0.2s; }
  .key-engineering--none {
    width: 0;
    padding: 0;
    opacity: 0;
    transform: scaleX(0); }

.key--bg {
  font-size: 30px; }

.key--division {
  margin-left: auto;
  font-size: 26px; }

.key--ac {
  font-size: 20px; }

.key--zero {
  flex-grow: 1;
  text-align: left;
  padding-left: 25px; }

.key--total {
  font-size: 33px;
  transition: background 0.2s; }

.calculator {
  width: 260px;
  margin: 30px auto 150px;
  transition: width 0.2s; }
  .calculator--width {
    width: 325px; }

.header {
  height: 86px;
  background-color: #464553;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; }

.footer {
  max-width: 700px;
  height: 90px;
  margin: 0 auto;
  border-top: 1px solid #464553;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer__copyright {
    line-height: 1.5;
    color: #001b2a; }
  .footer__link {
    text-decoration: none;
    color: #001b2a;
    border-bottom: 1px solid #001b2a;
    transition: all 0.2s; }
    .footer__link:hover {
      color: #ec805f;
      border-bottom-color: #ec805f; }

.dark .calc__keys {
  background-color: #3a4868; }

.dark .calc__total {
  color: #f4f4f4; }

.dark .calc__intup-numb {
  color: #f7cbab; }

.dark .key {
  color: #a7bde9;
  background-color: #3a4868; }
  .dark .key:hover {
    background: #2f3c56; }

.dark .key--bg {
  background-color: #374462;
  color: #a8caec; }

.dark .key--ac {
  color: #df4794; }

.dark .key--total {
  color: #f4f4f4;
  background-color: #eaeaea; }

.dark .gradient {
  background: #61caff;
  background: linear-gradient(45deg, #61caff 0%, #3a5aed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lightblue', endColorstr='$blue',GradientType=1 ); }

.light .calc__keys {
  background-color: #f4f4f4; }

.light .calc__total {
  color: #f4f4f4; }

.light .calc__intup-numb {
  color: #f7cbab; }

.light .key {
  color: #001b2a;
  background-color: #f4f4f4; }
  .light .key:hover {
    background: #d9d9d9;
    color: #001b2a; }

.light .key--bg {
  background-color: #eaeaea; }

.light .key--ac {
  color: #df4794; }

.light .key--total {
  color: #f4f4f4;
  background-color: #eaeaea; }

.light .gradient {
  background: #df4794;
  background: linear-gradient(45deg, #df4794 0%, #f8b52c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='$orange',GradientType=1 ); }

.theme {
  width: 210px; }
  .theme__switch {
    margin: 7px 0;
    color: #f4f4f4; }
    .theme__switch-input {
      display: none; }
      .theme__switch-input:checked + .theme__switch-label {
        background: #bada55; }
      .theme__switch-input:checked + .theme__switch-label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%); }
    .theme__switch-label {
      cursor: pointer;
      text-indent: -117px;
      width: 60px;
      height: 30px;
      background: grey;
      display: block;
      border-radius: 15px;
      position: relative;
      line-height: 27px;
      font-size: 18px;
      font-family: 'Oxygen',sans-serif;
      margin-left: auto; }
      .theme__switch-label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 10px;
        transition: 0.3s; }
      .theme__switch-label:active:after {
        width: 50px; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo__img {
    margin-right: 20px;
    width: 45px;
    height: 45px; }
  .logo__text {
    color: #f4f4f4;
    font-size: 22px;
    text-transform: uppercase; }

.social__list {
  padding: 0;
  display: flex; }

.social__item {
  list-style: none;
  margin-right: 8px; }

.social__link svg {
  fill: #464553;
  transition: all 0.2s; }

.social__link:hover svg {
  fill: #ec805f; }

/*# sourceMappingURL=style.css.map */