/*colors of light theme*/
/*colors of dark theme*/
@font-face {
  font-family: 'oxygen';
  src: url("../assets/fonts/oxygen-light.woff2") format("woff2"), url("../assets/fonts/oxygen-light.woff") format("woff"), url("../assets/fonts/oxygen-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'oxygen';
  src: url("../assets/fonts/oxygen-regular.woff2") format("woff2"), url("../assets/fonts/oxygen-regular.woff") format("woff"), url("../assets/fonts/oxygen-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'oxygen';
  src: url("../assets/fonts/oxygen-bold.woff2") format("woff2"), url("../assets/fonts/oxygen-bold.woff") format("woff"), url("../assets/fonts/oxygen-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

* {
  box-sizing: border-box;
  outline: none; }

body {
  background-color: #e6e9eb;
  font-family: "oxygen", sans-serif; }

sup {
  top: -0.8em;
  font-size: 0.6em; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .wrapper-content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; }

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.calc {
  position: relative;
  box-shadow: 0px 13px 69px -5px rgba(51, 51, 51, 0.61); }

.calc__display {
  position: relative;
  padding: 13px 20px 27px;
  text-align: right; }
  .calc__display-history {
    padding: 0;
    margin: 0;
    height: 45px;
    overflow-y: scroll;
    font-size: 13px;
    margin-bottom: 6px;
    transform: scaleX(1);
    transform-origin: right;
    transition: all 0.2s; }
    .calc__display-history--none {
      transform: scaleX(0); }
    .calc__display-history li {
      list-style: none;
      padding: 0 5px; }

.calc__total {
  font-family: "oxygen", sans-serif;
  font-size: 30px;
  border: none;
  background: transparent;
  width: 220px;
  text-align: right; }
  .calc__total--history {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300; }

.calc__intup-numb {
  font-size: 16px; }

.calc__keys-row {
  display: flex; }

.calc__keys {
  position: relative;
  transition: all 0.2s; }

.key {
  width: 65px;
  height: 65px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s; }

.key-engineering {
  display: block;
  opacity: 1;
  transition: all 0.2s; }
  .key-engineering--none {
    width: 0;
    padding: 0;
    opacity: 0;
    transform: scaleX(0); }

.key--bg {
  font-size: 30px; }

.key--division {
  margin-left: auto;
  font-size: 26px; }

.key--ac {
  font-size: 20px; }

.key--zero {
  flex-grow: 1;
  text-align: left;
  padding-left: 25px; }

.key--total {
  font-size: 33px;
  transition: background 0.2s; }

.rur {
  font-size: 22px; }

.calculator {
  width: 260px;
  margin: 30px 50px 70px;
  transition: width 0.2s; }
  .calculator--width {
    width: 325px; }

.header {
  height: 86px;
  background-color: #464553;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; }

.footer {
  max-width: 700px;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  border-top: 1px solid #464553;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; }
  .footer__copyright {
    line-height: 1.5;
    color: #001b2a; }
  .footer__link {
    text-decoration: none;
    color: #001b2a;
    border-bottom: 1px solid #001b2a;
    transition: all 0.2s; }
    .footer__link:hover {
      color: #ec805f;
      border-bottom-color: #ec805f; }

.dark .theme {
  background-color: #3a4868; }

.dark .theme__switch {
  color: #f4f4f4; }

.dark .calc__keys {
  background-color: #3a4868; }

.dark .calc__total {
  color: #f4f4f4; }

.dark .calc__intup-numb {
  color: #f7cbab; }

.dark .key {
  color: #a7bde9;
  background-color: #3a4868; }
  .dark .key:hover {
    background: #2f3c56; }

.dark .key--bg {
  background-color: #374462;
  color: #a8caec; }

.dark .key--ac {
  color: #df4794; }

.dark .key--total {
  color: #f4f4f4;
  background-color: #eaeaea; }

.dark .gradient {
  background: #61caff;
  background: linear-gradient(45deg, #61caff 0%, #3a5aed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lightblue', endColorstr='$blue',GradientType=1 ); }

.light .calc__keys {
  background-color: #f4f4f4; }

.light .calc__total {
  color: #f4f4f4; }

.light .calc__intup-numb {
  color: #f7cbab; }

.light .key {
  color: #001b2a;
  background-color: #f4f4f4; }
  .light .key:hover {
    background: #d9d9d9;
    color: #001b2a; }

.light .key--bg {
  background-color: #eaeaea; }

.light .key--ac {
  color: #df4794; }

.light .key--total {
  color: #f4f4f4;
  background-color: #eaeaea; }

.light .gradient {
  background: #df4794;
  background: linear-gradient(45deg, #df4794 0%, #f8b52c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink', endColorstr='$orange',GradientType=1 ); }

.theme {
  position: absolute;
  transform: translateY(0);
  width: 100%;
  padding: 10px;
  background-color: #f4f4f4;
  transition: all 0.3s; }
  .theme--active {
    transform: translateY(-97px); }
  .theme__switch {
    margin: 7px 0;
    color: #001b2a; }
    .theme__switch-input {
      display: none; }
      .theme__switch-input:checked + .theme__switch-label {
        background: #bada55; }
      .theme__switch-input:checked + .theme__switch-label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%); }
    .theme__switch-label {
      cursor: pointer;
      text-indent: -106px;
      width: 40px;
      height: 20px;
      background: grey;
      display: block;
      border-radius: 10px;
      position: relative;
      line-height: 16px;
      font-size: 16px;
      font-family: 'Oxygen',sans-serif;
      margin-left: auto; }
      .theme__switch-label:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        transition: 0.3s; }
      .theme__switch-label:active:after {
        width: 30px; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo__img {
    margin-right: 20px;
    width: 45px;
    height: 45px; }
  .logo__text {
    color: #f4f4f4;
    font-size: 22px;
    text-transform: uppercase; }

.social__list {
  padding: 0;
  display: flex; }

.social__item {
  list-style: none;
  margin-right: 8px; }

.social__link svg {
  fill: #464553;
  transition: all 0.2s; }

.social__link:hover svg {
  fill: #ec805f; }

.warning {
  font-size: 18px;
  text-align: center;
  background-color: #61b832;
  color: #f4f4f4;
  background-size: 50px 50px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  padding: 15px 0;
  margin: 0; }

.hamburger {
  position: relative;
  top: -5px;
  left: -10px;
  height: 20px;
  width: 20px;
  cursor: pointer; }
  .hamburger__line {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 20px;
    background-color: white;
    margin-left: -10px;
    margin-top: -1px;
    transition: all 0.3s; }
    .hamburger__line:after {
      content: '';
      transform: translateY(-5px);
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 20px;
      background-color: white;
      margin-left: -10px;
      margin-top: -1px;
      transition: all 0.3s; }
    .hamburger__line:before {
      content: '';
      transform: translateY(5px);
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 20px;
      background-color: white;
      margin-left: -10px;
      margin-top: -1px;
      transition: all 0.3s; }
    .hamburger__line--active {
      background-color: transparent; }
      .hamburger__line--active:after {
        transform: rotate(45deg); }
      .hamburger__line--active:before {
        transform: rotate(-45deg); }

/*# sourceMappingURL=style.css.map */