.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
        margin-right: 20px;
        width: 45px;
        height: 45px;
    }

    &__text {
        color: #f4f4f4;
        font-size: 22px;
        text-transform: uppercase;
    }
}