* {
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: $bg;
    font-family: $main-font;
}

sup {
    top: -0.8em;
    font-size: 0.6em;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &-content {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
    }
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calc {
    position: relative;
    box-shadow: 0px 13px 69px -5px rgba(51,51,51,0.61);
    // border-radius: 9px;
}

.calc__display {
    position: relative;
    padding: 13px 20px 27px;
    text-align: right;
    // border-top-right-radius: 9px;
    // border-top-left-radius: 9px;

    &-history {
        padding: 0;
        margin: 0;
        height: 45px;
        overflow-y: scroll;
        font-size: 13px;
        margin-bottom: 6px;
        transform: scaleX(1);
        transform-origin: right;
        transition: all 0.2s;

        &--none {
            transform: scaleX(0); 
        }

        li {
            list-style: none;
            padding: 0 5px;
        }
    }

}

.calc__total {
    font-family: "oxygen", sans-serif;
    font-size: 30px;
    border: none;
    background: transparent;
    width: 220px;
    text-align: right;

    &--history {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 300;
    }
}

.calc__intup-numb {
    font-size: 16px;
}

.calc__keys-row {
    display: flex;
}

.calc__keys {
    position: relative;
    transition: all 0.2s;
    // border-bottom-right-radius: 9px;
    // border-bottom-left-radius: 9px;
}

.key {
    width: 65px;
    height: 65px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s;
}

.key-engineering {
    display: block;
    opacity: 1;
    transition: all 0.2s;
    
    &--none {
        width: 0;
        padding: 0;
        opacity: 0;
        transform: scaleX(0);
    }

}

.key--bg {
    font-size: 30px;
}

.key--division {
    margin-left: auto;
    font-size: 26px;
}

.key--ac {
    font-size: 20px;
}

.key--zero {
    // border-bottom-left-radius: 9px;
    flex-grow: 1;
    text-align: left;
    padding-left: 25px;
}

// .key--multiplication {
//     border-bottom-right-radius: 9px;
// }

.key--total {
    font-size: 33px;
    // border-bottom-right-radius: 9px;
    transition: background 0.2s;
}

.rur {
    font-size: 22px;
}


.calculator {
    width: 260px;
    margin: 30px 50px 70px;
    transition: width 0.2s;
    
    &--width {
        width: 325px;
    }
}